<html>
<head>
<title>TabletFragment.java</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #cc7832;}
.s1 { color: #a9b7c6;}
.s2 { color: #6a8759;}
.s3 { color: #6897bb;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
TabletFragment.java</font>
</center></td></tr></table>
<pre><span class="s0">package </span><span class="s1">com.example.navigationfragments.fragments</span><span class="s0">;</span>

<span class="s0">import </span><span class="s1">android.content.Intent</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">android.os.Bundle</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">android.view.LayoutInflater</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">android.view.View</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">android.view.ViewGroup</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">android.widget.AdapterView</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">android.widget.ArrayAdapter</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">android.widget.ListView</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">android.widget.Spinner</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">android.widget.TextView</span><span class="s0">;</span>

<span class="s0">import </span><span class="s1">androidx.annotation.NonNull</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">androidx.annotation.Nullable</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">androidx.fragment.app.Fragment</span><span class="s0">;</span>

<span class="s0">import </span><span class="s1">com.example.navigationfragments.DetalleActivity</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">com.example.navigationfragments.R</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">com.example.navigationfragments.adapters.ListaAdapter</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">com.example.navigationfragments.data.Marcas</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">com.example.navigationfragments.entities.Telefono</span><span class="s0">;</span>

<span class="s0">import </span><span class="s1">java.util.ArrayList</span><span class="s0">;</span>
<span class="s0">import </span><span class="s1">java.util.List</span><span class="s0">;</span>

<span class="s0">public class </span><span class="s1">TabletFragment </span><span class="s0">extends </span><span class="s1">Fragment {</span>

    <span class="s0">private final </span><span class="s1">String[] marcaTablets = {</span><span class="s2">&quot;Xiaomi&quot;</span><span class="s0">, </span><span class="s2">&quot;Samsung&quot;</span><span class="s0">, </span><span class="s2">&quot;Apple&quot;</span><span class="s0">, </span><span class="s2">&quot;Huawei&quot;</span><span class="s1">}</span><span class="s0">;</span>
    <span class="s0">private </span><span class="s1">String[] listaTablets = {}</span><span class="s0">;</span>
    <span class="s0">private </span><span class="s1">ArrayAdapter&lt;String&gt; adapter</span><span class="s0">;</span>
    <span class="s0">private </span><span class="s1">ListaAdapter myAdapter</span><span class="s0">;</span>
    <span class="s0">private </span><span class="s1">List&lt;Telefono&gt; tablets = </span><span class="s0">new </span><span class="s1">ArrayList&lt;&gt;()</span><span class="s0">;</span>
    <span class="s0">private </span><span class="s1">ListView listView</span><span class="s0">;</span>
    <span class="s0">private </span><span class="s1">Spinner spinner</span><span class="s0">;</span>
    <span class="s0">private </span><span class="s1">TextView tvNoDisponible</span><span class="s0">;</span>

    <span class="s1">@Nullable</span>
    <span class="s1">@Override</span>
    <span class="s0">public </span><span class="s1">View onCreateView(@NonNull LayoutInflater inflater</span><span class="s0">, </span><span class="s1">@Nullable ViewGroup container</span><span class="s0">, </span><span class="s1">@Nullable Bundle savedInstanceState) {</span>
        <span class="s1">View root= inflater.inflate(R.layout.fragment_tablet</span><span class="s0">, </span><span class="s1">container</span><span class="s0">, false</span><span class="s1">)</span><span class="s0">;</span>

        <span class="s1">iniVistas(root)</span><span class="s0">;</span>

        <span class="s1">cargarSpinner()</span><span class="s0">;</span>

        <span class="s1">listView.setOnItemClickListener(</span><span class="s0">new </span><span class="s1">AdapterView.OnItemClickListener() {</span>
            <span class="s1">@Override</span>
            <span class="s0">public void </span><span class="s1">onItemClick(AdapterView&lt;?&gt; parent</span><span class="s0">, </span><span class="s1">View view</span><span class="s0">, int </span><span class="s1">position</span><span class="s0">, long </span><span class="s1">id) {</span>
                <span class="s1">Telefono telefono = tablets.get(position)</span><span class="s0">;</span>
                <span class="s1">Intent intent = </span><span class="s0">new </span><span class="s1">Intent(getContext()</span><span class="s0">, </span><span class="s1">DetalleActivity.</span><span class="s0">class</span><span class="s1">)</span><span class="s0">;</span>
                <span class="s1">intent.putExtra(</span><span class="s2">&quot;NOMBRE&quot;</span><span class="s0">, </span><span class="s1">telefono.getNombre())</span><span class="s0">;</span>
                <span class="s1">intent.putExtra(</span><span class="s2">&quot;IMAGEN&quot;</span><span class="s0">, </span><span class="s1">telefono.getImagen())</span><span class="s0">;</span>
                <span class="s1">intent.putExtra(</span><span class="s2">&quot;DESC&quot;</span><span class="s0">, </span><span class="s1">telefono.getDescripcion())</span><span class="s0">;</span>
                <span class="s1">intent.putExtra(</span><span class="s2">&quot;PRECIO&quot;</span><span class="s0">, </span><span class="s1">telefono.getPrecio())</span><span class="s0">;</span>
                <span class="s1">startActivity(intent)</span><span class="s0">;</span>
            <span class="s1">}</span>
        <span class="s1">})</span><span class="s0">;</span>
        <span class="s0">return </span><span class="s1">root</span><span class="s0">;</span>

    <span class="s1">}</span>


    <span class="s0">private void </span><span class="s1">iniVistas(View view){</span>
        <span class="s1">listView = view.findViewById(R.id.list_tablets)</span><span class="s0">;</span>
        <span class="s1">spinner = view.findViewById(R.id.spinnerTablets)</span><span class="s0">;</span>
        <span class="s1">tvNoDisponible = view.findViewById(R.id.tb_no_disponible)</span><span class="s0">;</span>
    <span class="s1">}</span>

    <span class="s0">private void </span><span class="s1">cargarSpinner(){</span>
        <span class="s1">ArrayAdapter&lt;String&gt; adapter = </span><span class="s0">new </span><span class="s1">ArrayAdapter&lt;&gt;(getContext()</span><span class="s0">, </span><span class="s1">android.R.layout.simple_spinner_dropdown_item</span><span class="s0">, </span><span class="s1">marcaTablets)</span><span class="s0">;</span>
        <span class="s1">spinner.setAdapter(adapter)</span><span class="s0">;</span>
        <span class="s1">cargarTelefonos()</span><span class="s0">;</span>
    <span class="s1">}</span>

    <span class="s0">private void </span><span class="s1">cargarTelefonos(){</span>
        <span class="s1">spinner.setOnItemSelectedListener(</span><span class="s0">new </span><span class="s1">AdapterView.OnItemSelectedListener() {</span>
            <span class="s1">@Override</span>
            <span class="s0">public void </span><span class="s1">onItemSelected(AdapterView&lt;?&gt; parent</span><span class="s0">, </span><span class="s1">View view</span><span class="s0">, int </span><span class="s1">position</span><span class="s0">, long </span><span class="s1">id) {</span>
                <span class="s1">tablets.clear()</span><span class="s0">;</span>
                <span class="s0">if </span><span class="s1">(parent.getItemAtPosition(position).equals(</span><span class="s2">&quot;Xiaomi&quot;</span><span class="s1">)){</span>
                    <span class="s1">tablets = Marcas.XiaomiTablets()</span><span class="s0">;</span>
                <span class="s1">}</span>
                <span class="s0">if </span><span class="s1">(parent.getItemAtPosition(position).equals(</span><span class="s2">&quot;Samsung&quot;</span><span class="s1">)){</span>

                    <span class="s1">tablets = Marcas.SamsungTablets()</span><span class="s0">;</span>
                <span class="s1">}</span>
                <span class="s0">if </span><span class="s1">(parent.getItemAtPosition(position).equals(</span><span class="s2">&quot;Apple&quot;</span><span class="s1">)){</span>

                    <span class="s1">tablets = Marcas.Apple()</span><span class="s0">;</span>
                <span class="s1">}</span>
                <span class="s0">if </span><span class="s1">(parent.getItemAtPosition(position).equals(</span><span class="s2">&quot;Huawei&quot;</span><span class="s1">)){</span>
                    <span class="s1">tablets = Marcas.HuaweiTablets()</span><span class="s0">;</span>
                <span class="s1">}</span>

                <span class="s1">myAdapter = </span><span class="s0">new </span><span class="s1">ListaAdapter(getContext()</span><span class="s0">, </span><span class="s1">R.layout.vista_telf</span><span class="s0">, </span><span class="s1">tablets)</span><span class="s0">;</span>
                <span class="s1">listView.setAdapter(myAdapter)</span><span class="s0">;</span>

                <span class="s0">if </span><span class="s1">(tablets.size() == </span><span class="s3">0</span><span class="s1">){</span>
                    <span class="s1">tvNoDisponible.setVisibility(View.VISIBLE)</span><span class="s0">;</span>
                <span class="s1">}</span><span class="s0">else </span><span class="s1">{</span>
                    <span class="s1">tvNoDisponible.setVisibility(View.GONE)</span><span class="s0">;</span>
                <span class="s1">}</span>
            <span class="s1">}</span>

            <span class="s1">@Override</span>
            <span class="s0">public void </span><span class="s1">onNothingSelected(AdapterView&lt;?&gt; parent) {</span>

            <span class="s1">}</span>
        <span class="s1">})</span><span class="s0">;</span>



    <span class="s1">}</span>


<span class="s1">}</span>
</pre>
</body>
</html>